.smartTalk{
    margin:60px ;
    align-items: center;
    background:   #dfe0e9;
    border-radius:20px ;
  
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.smartTalk1{
    margin:20px ;
    align-items: center;
    background: white;
    border-radius:4px ;
  
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}