.smartTalk{
    margin:40px ;
    align-items: center;
    background:  #6573f0;
    border-radius:4px ;
  
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.smartTalk1{
    margin:40px ;
    align-items: center;
    background:  #d8cbcb;
    border-radius:4px ;
  
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}