.Apply{
    background: #dfe0e9;
    border-radius:20px ;
    margin: 40px ;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
.Apply1{
    background: #dfe0e9;
    border-radius:20px ;
    margin: 40px ;
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
