
.parS {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: auto!important; /* center the container horizontally */
  margin-right: auto!important;
}

.itemP { 

  background-color: #fff;
  margin-top: 30px;
  padding: 20px;
  transition: 0.5s;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  margin-left: 200px!important; /* center the container horizontally */
  margin-right: 200px!important;
  margin-bottom: 20px;
  
}
.itemP h2,h3,p{
  padding-bottom: 5px;
  margin-left: 40px;
  margin-right: 40px;
}
.itemP h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.parS p {
  
  color: #999999;
}
.parS .itemP:hover {
  background-color: #1D2E74!important;
  background-color: rgb(42,98,147)!important;
  color: #fff;
  cursor: pointer;
  box-shadow: 0 5px 25px -2px rgb(0 0 0 / 6%);
}
.parS .itemP:hover p {
  color: #fff;
}


.image-container::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

.image-container::-webkit-scrollbar-thumb {
  background-color: rgb(42,98,147)!important;
  border-radius: 10px;
}

.image-container::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.image-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  height: 200px;
  overflow: auto;
  margin-top: 10px;
  max-width: 1000px;
  margin-left: auto; /* center the container horizontally */
  margin-right: auto;
  margin-bottom: 20px;
}

.image-container img {
  width: 200px;
  height: auto;
  object-fit: cover;
  margin: 20px;
}


.price h1 {
  font-size: 50px;
  margin: 20px 0;
  color: rgb(42,98,147);
}
.price h1 span {
  font-size: 20px;
  margin-right: 5px;
  color: #000;
}
.price p {
  color: grey;
  margin: 40px 0;
}
.gridP {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 55px;
}


  @media screen and (max-width: 680px) {
  .gridP {
    grid-template-columns: repeat(2, 1fr);
  
  }  
}
@media screen and (max-width: 660px) {
  .gridP {
    grid-template-columns: repeat(1, 1fr);
  
  }  
}

/*--------------faq-------------*/
.faq .container {
  max-width: 70%;
  border-radius: 5px;
}
.faq .box {
  background-color: #fff;
  margin-bottom: 20px;
}
.faq button {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px 20px;
}
.faq h2 {
  font-weight: 500;
}
.faq p {
  padding: 20px;
}
.faq .accordion:hover {
  background-color: rgb(42,98,147);
  color: #fff;
}

/*--------------faq-------------*/
