.details{
    background:  #dfe0e9;
border-radius:4px ;
margin: 40px ;
padding: 20px;
position: relative;
box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
align-items: center;
border-radius: 30px;
}
h2{
  
    margin-top: 20px;
    text-align: center;
    
}