.details{
    margin:40px ;
  align-items: center;

  border-radius:4px ;

  padding: 20px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
h2{
  
    margin-top: 20px;
    text-align: center;
    
}