.international{
    margin:40px ;
    align-items: center;
    background:  #6573f0;
    border-radius:4px ;
  
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);

}
.international1{
    margin:40px ;
    align-items: center;
    background:  #d8cbcb;
    border-radius:4px ;
  
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);

}


.hadiiternationalCard{
  margin-top: 20px;
  margin: auto;
  max-width: 95%;
  height: 400px;
  background-color: #dbf065;
  margin-bottom: 20px;
}