.commuinty{
    margin:40px ;
    align-items: center;
    background:  #d8cbcb;
    border-radius:4px ;
  
    padding: 20px;
    position: relative;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}





















//**********************comunitycards***************************************************************//
//father of this paged
.counityitems{
  width: 98%;
  margin: auto;
  // background-color: aquamarine;
  // height: 800px;
}


.maincomunitycarddiv{
  width: 98%;
  margin: auto;
  
  // background-color: rgb(90, 35, 116);
  // height: 1700px;
}
.fathercontainercard{
  width: 98%;
  min-height: 300px;
  // background-color: #656375;
  margin: auto;
  margin-top: 20px;
  border: 1px solid;
  border-radius: 10px;
  border-bottom: 2px solid;
  // display: flex;
  // flex-direction: row;
}
.cardourcomunityrowdisplay{
  height: 35%;
    display: flex;
  flex-direction: row;
    // background-color: aqua;
}
.firstcontentcomunity{
  width: 20%;
  min-height: 90% !important;
  // background-color: aqua;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-right: 1px solid;

}
.firstcontentcomunity h4{
padding-left: 20px;
}
.secondcomuitydiv{
  width: 69%;
  height: 100%;
  // background-color: rgb(130, 98, 134);
  // margin: auto;
  align-items: center;
  padding: 30px;
  margin-top: 0;
  
  // border-right: 1px solid;
  // border: 1px solid;

}
.cardourcomunityrowdisplay{
  width: 100%;
  display: flex;
  border-bottom: 1px solid;
}
.proportiesdecs{
  width: 5%;
  height: 10%;
  // background-color: rgb(130, 98, 134) !important;
  margin: auto;
  justify-content: space-around;
  border-left: 1px solid;
  // display: flex;
  // flex-direction: column;
  
text-align: center;}
.nonamedisplay{
  display: flex;
  width: 99%;
  margin: auto;
  padding: 5px;
  // background-color: rgb(14, 29, 29);
  flex-wrap: wrap;
  justify-content: space-around;
  padding-bottom:20px ;
  
}
.nonamedisplay img{
  padding-bottom:20px ;

}
.deletoptioncardcomunuty{
  // margin-left: 14px;
  margin-top: 16px;
  width: 100%;
}
.editoptioncardcomunuty{
  // margin-left: 14px;
  margin-top: 13px;
  margin-bottom:15px;

}
.deletoptioncardcomunuty:hover{
color: brown;
// border-bottom: 1px solid brown;

}
.editoptioncardcomunuty:hover{
  // margin-left: 14px;
  color: rgb(194, 212, 93);
  // border-top: 1px solid rgb(91, 100, 41);

}