h2{
    text-align: center;
    border-radius: 20px;
    text-shadow: none;
}
.details{
    background: white;
border-radius:20px ;
margin: 40px ;
padding: 20px;
position: relative;
box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
}
// .detailMethodolgy{
//     background:  #d8cbcb;
// border-radius:4px ;
// margin: 40px ;
// padding: 20px;
// position: relative;
// box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
// }
// .aboutus{
//     margin: 40px;
  
// }
// .CreateAbouUs{
//     background:  #d8cbcb;
//     border-radius:4px ;
//     margin: 40px ;
//     padding: 20px;
//     position: relative;
//     box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
// }
// .card{
//     background:  #d8cbcb;
//     border-radius:4px ;
//     margin: 40px ;
//     padding: 20px;
//     position: relative;
//     box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
//     align-items: center;
// }

.form-group{
    align-items: center;
}
.form-control{
    align-items: center;
}
.details1{
    background:  rgb(113, 114, 197);
border-radius:4px ;
margin: 40px ;
padding: 20px;
position: relative;
box-shadow: 2px 2px 5px rgba(0,0,0,0.05);
align-content: center;
}